<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Danny Oka Resume</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	  
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gilbert BoxOffice</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'index' %}>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'about' %}>About Me!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'pricing' %}>Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'request-more-info' %}>Request More Info</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href={% url 'tenantManager:list' %}>Tenant Manager</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
	<div class="col-2">
		<div class="container ml-0 pl-0">
			<ul>
				<li>
					Test 1
				</li>
				<li>
					Test 2
				</li>
				<li>
					Test 3
				</li>
				<li>
					Test 4
				</li>
			</ul>
		</div>
	</div>
<div class="col-9">
  	

	{% block body_block %}
	    
	{% endblock body_block %}
</div>
<div class="col-1">
  	<div class="container">
  		
  	</div>
</div>		
</div>
<footer class="footer bg-info fixed-bottom">
	<div class="container">
	<div class="row">
		<div class="col-4">
		  	<ul>
		  		<li>Legal</li>
		  		<li>Careers</li>
		  		<li>Copyright</li>
		  		<li>Contact Us</li>
		  	</ul>
		</div>
		<div class="col-4">
		  	
		</div>
		<div class="col-4">
		  	<ul>
		  		<li>
		  			Item 1
		  		</li>
		  		<li>
		  			Item 2
		  		</li>
		  	</ul>
		</div>

	</div>
	</div>
</footer>
</body>
</html>