{% extends "base.html" %}


{% block body_block %}
    

<div class="container">
<div class="row p-5 justify-content-around">

	

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="Image 1">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="Image 2">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore mollitia sit laudantium et, maxime odit debitis perspiciatis. Amet sequi eius nemo quas facere totam vel cupiditate iusto dolorem ratione. Recusandae!.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="Image 3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>

{% endblock body_block %}